/* SITE-WIDE */
body {
	background-color: #e6efff;
	font-family: monospace;
}

.links a {
	color: gray;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 2px;
}

.links .spacer {
	height: 10px;
}


/* HOMEPAGE */
.container-idx {
    width: 80%;
    text-align: center;
    display: table;
    margin: auto;
}

.container-idx .tagline {
    width: 100%;
    margin: auto;
	font-weight: bold;
	font-size: 30px;
}

.container-idx .blurb {
    width: 100%;
    margin: auto;
	font-size: 12px;
	width: 50%;
}

.container-idx .logo {
	max-width: 1200px;
	width: 100%;
}


/* PROJECTS */
.container-projects {
    width: 80%;
    text-align: left;
    display: table;
    margin: auto;
}


/* BLOG */
.container-blog {

}