/* SITE-WIDE */
body {
	background-color: #e6efff;
	font-family: monospace;
}

.links a {
	color: gray;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: left;
}

.links .spacer {
	height: 10px;
}

.div-spacer {
	display: inline;
}

.div-spacer:after {
	content: "\a";
	white-space: pre;
}

/* HOMEPAGE */
.container-idx {
    width: 80%;
    display: table;
    margin: auto;
	text-align: center;
}

.container-idx .tagline {
    width: 100%;
    margin: auto;
	font-weight: bold;
	font-size: 30px;
}

.container-idx .blurb {
    width: 100%;
    margin: auto;
	font-size: 12px;
	width: 50%;
	text-align: left;
}

.container-idx .logo {
	max-width: 550px;
	width: 100%;
	display: inline-block;
	text-align: left;
}

.container-idx .links {
	display: inline-block;
	text-align: left;
}

/* PROJECTS */
.container-projects {
    width: 80%;
    text-align: left;
    display: table;
    margin: auto;
}


/* BLOG */
.container-blog {

}