/* SITE-WIDE */
body {
	background-color: #e6efff;
	font-family: monospace;
	position:absolute;
}

.links a {
	color: gray;
	text-decoration: none;
	font-size: 1.75vw;
	letter-spacing: 0.2vw;
	text-align: center;
	padding: 1vw 2vw;
}


/* HOMEPAGE */
.container-idx {
    width: 60%;
    display: table;
	margin: auto;
	text-align: center;
}

.container-idx .tagline {
    width: 100%;
    margin: auto;
	font-weight: bold;
	font-size: 2.65vw;
	margin-bottom: 1vw;
}

.container-idx .blurb {
    width: 70%;
    margin: auto;
	font-size: 1.2vw;
	text-align: left;
	display: table;
}

.container-idx .logo {
	width: 90%;
	display: inline-block;
	text-align: center;
	margin-bottom: 2vw;
}

.container-idx .links {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3vw;
	text-align: center;
}

/* PROJECTS */
.container-projects {
    width: 80%;
    text-align: left;
    display: table;
    margin: auto;
}


/* BLOG */
.container-blog {

}