{{ partial "header.html" . }}
{{ range .Data.Pages }}
{{ if eq .Type "index" }}    
{{ partial "scripts.html" . }}

</head>
<body>

<div class="container-idx">
    <div class="row" style="text-align: center">
        <img class="logo" src="img/fulllogo1.png"> 
    </div>
	<div class="div-spacer"></div>
	<div class="div-spacer"></div>
    <div  class="row">
        <div class="tagline">
            {{ .Params.tagline }}
        </div>
    </div>
    <div class="row">
        <div class="blurb">
            <p>{{ .Content }}</p>            
        </div>        
    </div>
	<br>
	<!-- video -->
    <!-- div class="row">
        <div id="media0" width="(100/3)%"></div>
        <div id="media1" width="(100/3)%"></div>
        <div id="media2" width="(100/3)%"></div>
    </div -->
    <div class="row">
      {{ partial "nav.html" . }}
    </div>
</div>

{{ end }}
{{ end }}
{{ partial "footer.html" . }}
