
{{ define "main" }}
{{ range where .Data.Pages ".Type" "index" }}
<div class="container-idx">
    <div class="row" style="text-align: center">
        <img class="logo" src="img/fulllogo2.png"> 
    </div>
    <div class="row">
      {{ partial "nav.html" . }}
    </div>
    <div  class="row">
        <div class="tagline">
            {{ .Params.tagline }}
        </div>
    </div>	
    <div class="row">
        <div class="blurb">
            <p>{{ .Content }}</p>            
        </div>        
    </div>
	<!-- video -->
    <!-- div class="row">
        <div id="media0" width="(100/3)%"></div>
        <div id="media1" width="(100/3)%"></div>
        <div id="media2" width="(100/3)%"></div>
    </div -->
</div>
{{ end }}
{{ end }}
